@import "prism-monokai.styl"

/**
 * Site
 */
body {
    background-color: $lightColor;
}

/**
 * Navbar
 */
.navbar {
    background-color: $darkColor;
    color: $lightColor;
    border-bottom: 0;
    box-shadow: 0 0 1px 0px $blackColor;

    .links {
        background-color: $darkColor;
    }
    .site-name {
        color: $lightColor;
    }
}
.nav-links {
    a.router-link-active,
    a:hover {
        color: $whiteColor;
    }
}
.dropdown-wrapper .nav-dropdown .dropdown-item {
    color: $darkColor;
}
@media (min-width: 719px) {
    .nav-links {
        a.router-link-active,
        a:hover {
            color: $whiteColor;
        }
    }
}
@media (max-width: 719px) {
    .nav-links {
        a.router-link-active,
        a:hover {
            color: $accentColor;
        }
    }
}


/**
 * Sidebar
 */
.sidebar {
    background-color: $lightColor;
    border-right: 0;
}
@media (max-width: 719px) {
    .theme-container.sidebar-open .sidebar {
        background-color: $darkColor;
        color: $lightColor;
    }
    a.sidebar-link,
    .dropdown-wrapper .nav-dropdown .dropdown-item {
        color: $lightColor;
    }
    .sidebar .nav-links {
        border-bottom: 1px solid $blackColor;
    }
}

/**
 * Page
 */
.theme-default-content:not(.custom),
.page-edit,
.page-nav {
    max-width: 900px;
}

/**
 * Temp override for plugin @dovyp/vuepress-plugin-clipboard-copy
 */
.theme-default-content {
    pre,
    pre[class*=language-] {
        overflow-y: hidden;
    }
}