.pagination {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;

  a,
  span {
    padding: 0.4rem 0.8rem;
    border: 1px solid var(--c-border);
    border-radius: 4px;
    color: var(--c-text);
    text-decoration: none;

    &.active,
    &:hover {
      background-color: var(--c-bg-active);
      border-color: var(--c-brand);
      color: var(--c-brand);
    }
  }
}
