<header class="vp-navbar" role="banner">
  <div class="vp-navbar-inner">
    <a class="vp-site-name" href="{{ "/" | relURL }}">{{ site.Title }}</a>

    <div class="vp-navbar-actions">
      <button type="button" class="theme-toggle" data-theme-toggle aria-label="Toggle dark mode" title="Toggle dark mode">
        <i class="far fa-sun theme-toggle-light" aria-hidden="true"></i>
        <i class="far fa-moon theme-toggle-dark" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</header>
