{{- $categories := .Params.categories -}}
{{- $tags := .Params.tags -}}
<div class="blog-post-meta">
  <div class="meta-row">
    <span class="meta-item">{{ partial "icon" "far fa-calendar-alt" }}
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time></span>
    <span class="meta-item">{{ partial "icon" "far fa-clock" }} {{ .ReadingTime }} min read</span>
    {{- with $categories }}
    <span class="meta-item">{{ partial "icon" "fas fa-cat" }}
      {{- range $i, $c := . }}{{ if $i }}、{{ end }}<a href="{{ printf "/categories/%s/" ($c | urlize) | relURL }}">{{ $c }}</a>{{ end -}}
    </span>
    {{- end }}
  </div>
  {{- with .Description }}<div class="meta-description"><p>{{ . }}</p></div>{{ end }}
  {{- with $tags }}
  <div class="meta-tags">
    {{- range . }}
    <a class="vp-pill" href="{{ printf "/tags/%s/" (. | urlize) | relURL }}">
      {{ partial "icon" "fas fa-hashtag" }}{{ . }}</a>
    {{- end }}
  </div>
  {{- end }}
</div>
