{{- /* Blog post meta matching VuePress `.blog-post-meta` structure. */ -}}
{{- $hasDate := .Date -}}
{{- $hasDesc := .Description -}}
{{- $categories := .Params.categories -}}
{{- $tags := .Params.tags -}}
{{- if or $hasDate $hasDesc $categories $tags -}}
<div class="blog-post-meta">
  {{- if $hasDate }}
  <div class="meta-row">
    <span class="meta-item">
      <i class="far fa-clock" aria-hidden="true"></i>
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006年01月02日" }}</time>
    </span>
  </div>
  {{- end }}

  {{- with $hasDesc }}
  <div class="meta-description">
    <p>{{ . }}</p>
  </div>
  {{- end }}

  {{- if or $categories $tags }}
  <div class="meta-row">
    {{- with $categories }}
    <span class="meta-item">
      <i class="fas fa-cat" aria-hidden="true"></i>
      <span class="meta-label">分類：</span>
      <span class="meta-value">
        {{- range $i, $c := . -}}
          {{- if $i }}、{{ end -}}
          <a href="{{ printf "/categories/%s/" (. | urlize) | relURL }}">{{ . }}</a>
        {{- end -}}
      </span>
    </span>
    {{- end }}

    {{- with $tags }}
    <span class="meta-item">
      <i class="fas fa-hashtag" aria-hidden="true"></i>
      <span class="meta-label">標籤：</span>
      <span class="meta-value">
        {{- range $i, $t := . -}}
          {{- if $i }}、{{ end -}}
          <a href="{{ printf "/tags/%s/" (. | urlize) | relURL }}">{{ . }}</a>
        {{- end -}}
      </span>
    </span>
    {{- end }}
  </div>
  {{- end }}
</div>
{{- end -}}
