{{- $categories := .Params.categories -}}
{{- $tags := .Params.tags -}}
<div class="blog-post-meta">
  <div class="meta-row">
    <span class="meta-item"><i class="far fa-calendar-alt" aria-hidden="true"></i>
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006年01月02日" }}</time></span>
    <span class="meta-item"><i class="far fa-clock" aria-hidden="true"></i> {{ .ReadingTime }} 分鐘閱讀</span>
    {{- with $categories }}
    <span class="meta-item"><i class="fas fa-cat" aria-hidden="true"></i>
      {{- range $i, $c := . }}{{ if $i }}、{{ end }}<a href="{{ printf "/categories/%s/" ($c | urlize) | relURL }}">{{ $c }}</a>{{ end -}}
    </span>
    {{- end }}
  </div>
  {{- with .Description }}<div class="meta-description"><p>{{ . }}</p></div>{{ end }}
  {{- with $tags }}
  <div class="meta-tags">
    {{- range . }}
    <a class="vp-pill" href="{{ printf "/tags/%s/" (. | urlize) | relURL }}">
      <i class="fas fa-hashtag" aria-hidden="true"></i>{{ . }}</a>
    {{- end }}
  </div>
  {{- end }}
</div>
