@import "prism-monokai.styl"

body {
    background-color: #F4F4F3;
}

.navbar {
    background-color: #272822;
    color: #F4F4F3;
    border-bottom: 0;
    box-shadow: 0 0 1px 0px #000000;
}
.navbar .links {
    background-color: #272822;
}
.navbar .site-name {
    color: #F4F4F3;
}
.nav-links a.router-link-active, .nav-links a:hover {
    color: #FFFFFF;
}
.dropdown-wrapper .nav-dropdown .dropdown-item {
    color: #272822;
}

.sidebar {
    background-color: transparent;
    border-right: 0;
}
