@import "prism-monokai.styl"

/**
 * Site
 */
body {
    background-color: #F4F4F3;
}

/**
 * Navbar
 */
.navbar {
    background-color: #272822;
    color: #F4F4F3;
    border-bottom: 0;
    box-shadow: 0 0 1px 0px #000000;
}
.navbar .links {
    background-color: #272822;
}
.navbar .site-name {
    color: #F4F4F3;
}
.nav-links a.router-link-active,
.nav-links a:hover {
    color: #FFFFFF;
}
.dropdown-wrapper .nav-dropdown .dropdown-item {
    color: #272822;
}

/**
 * Sidebar
 */
.sidebar {
    background-color: #F4F4F3;
    border-right: 0;
}
@media (max-width: 719px) {
    .theme-container.sidebar-open .sidebar {
        background-color: #272822;
        color: #F4F4F3;
    }
    a.sidebar-link,
    .sidebar .nav-links a,
    .dropdown-wrapper .nav-dropdown .dropdown-item {
        color: #F4F4F3;
    }

    .nav-links a.router-link-active,
    .nav-links a:hover {
        color: #FFFFFF;
    }

    .sidebar .nav-links {
        border-bottom: 1px solid #000000;
    }
}
/**
 * Page
 */
.content:not(.custom) {
    max-width: 900px;
}