@import "prism-monokai.styl"

body {
    background-color: #EAEAE7;
}

.navbar {
    background-color: #272822;
    color: #F4F4F3;
    border-bottom: 0;
    box-shadow: 0 0 1px 1px #000000;
}
.navbar .links {
    background-color: #272822;
}
.navbar .site-name {
    color: #F4F4F3;
}
.nav-links a.router-link-active, .nav-links a:hover {
    color: #FFFFFF;
}

.sidebar {
    background-color: #E0E0DB;
    border-right: 0;
    box-shadow: 0 0 5px 0px #27282280;
}
